body{
  margin: 0 auto;
  background: white;
  width: 100%;
  height: 100%;
}
#bodycontent{
  width: 100%;
  height: 500px;
  background-color:white;
  text-align: center;
}
#bodycontent #atable{
  border-collapse: collapse;
  width: 80%;	
  text-align: center;
  font-size: 18px;
  padding-top: 5px;
  padding-left: 20px;
  line-height: 30px;
}

#bodycontent #atable tr:nth-child(even){background-color: #f2f2f2}

#bodycontent #atable th {
    background-color: #366;
    color: white;
}